#jogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.portas {
    display: flex;
    align-self: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
}